*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: .2s linear;
    box-sizing: border-box;
}
body{
    background-color:#DFF2EB;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header{
    position: sticky;
    top: 0; 
    z-index: 1000;
    width: 100%; 

    
}
/*header*/
.navbar{
    padding: 15px;
    height: 75px;
    backdrop-filter: blur(5px);
    top: 0;
    background-color: rgba(108, 36, 198, 0.09);
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Set a consistent maximum width */
    margin: 0 auto;    /* Center the navbar */
}

.logo {
  display: flex; 
  align-items: center; 
  gap: 10px;
}

.logo a{
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: .3s; 
  
}

.logo a:hover{
    color: #7AB2D3;
    text-decoration: underline;
}

.logo img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    object-fit: cover; 
    border: 2px solid #7d2ae8; 

}

li{
    list-style: none;
    display: inline-block;

}

li a{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    transition: .3s;
    background-color:#7d2ae8;
    border-radius: 5%;
    padding: 10px;
    box-shadow: #1e1e24;
    
}

li a:hover{
    color: #7AB2D3;
    text-decoration: underline;
}
/*header*/

/* start footer*/
footer {
    background-color: #7d2ae8;
    padding: 30px;
    text-align: center;
    height: 125px;
    text-decoration-color: #333;
    margin-top: 25px;
    backdrop-filter: blur(5px);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .flogo {
    display: flex;
    align-items: center;
  }
  
  
  .flogo img {
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .flogo a{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: .3s;
  }
  
  .flogo a:hover{
    color: #7AB2D3;
  }

  .social-media ul, .main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 8%;
  }
  
  .social-media ul li, .main-nav ul li {
    margin: 10  px;
    display: flex;
    align-items: center; 
  }
  
  .social-media a img {
    height: 30px;
    width: 30px; 
    margin-right: 5px;
    border-radius: 20%;
  }
  
  .social-media a, .main-nav a {
    text-decoration: none;
    color:  #e6e6e6;
  }
  
  .social-media a:hover, .main-nav a:hover {
    text-decoration: underline;
  
  }
  
  
  footer p {
    margin-top: 10px;
    color: #fff;
  }
  
  /* end Footer*/

/* Start Body */
.container{
    /*background: linear-gradient(45deg, blueviolet, lightgreen);*/
    padding: 15px 9%;
    padding-bottom: 50px;
    margin-top: 100px;
    height: 90vh;

        
}
.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #ffffff;
    text-shadow: 0 5px 10px ;
    font-size: 35px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 5%; 
    margin: 0 8% 0 8%;
}

.box{
    box-shadow: 0 3px 6px #7d2ae8; 
    border-radius: 5px;

    text-align: center;
    padding: 20px 10px;
}

.container .box-container .box img{
    height: 300px;

    
}

.container .box-container .box h3{
    color: black;
    font-size: 22px;
    padding: 10px 0;

}

.box p{
    color: black;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box:hover{
    box-shadow: 0 0 10px #7d2ae8;
    transform: scale(1.02);
}


@media(max-width:768px){
    .container{
        padding: 20px;
    }

}

/*con2 */
.container1{
  /*background: linear-gradient(45deg, blueviolet, lightgreen);*/
  padding: 15px 9%;
  padding-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;

      
}
.container1 .heading1{
  text-align: center;
  padding-bottom: 15px;
  color: #ffffff;
  text-shadow: 0 5px 10px ;
  font-size: 35px;
}

.box-container1 {
  display: grid;
  gap: 5%; 
  margin: 0 8% 0 8%;
}

.box1{
  box-shadow: 0 3px 6px #7d2ae8; 
  border-radius: 5px;

  text-align: center;
  padding: 20px 10px;
}

.container1 .box-container1 .box1 img{
  height: 300px;

  
}

.container1 .box-container1 .box1 h3{
  color: black;
  font-size: 22px;
  padding: 10px 0;

}

.box1 p{
  color: black;
  font-size: 15px;
  line-height: 1.8;
}

.container1 .box-container1 .box1:hover{
  box-shadow: 0 0 10px #7d2ae8;
  transform: scale(1.02);
}

/*end*/

/*HR*/
.horizontal-line
{
  position: relative;
  height: 1px;
  background-color: #DFF2EB;
  margin: 20px 40px;
}
.horizontal-line::before,
.horizontal-line::after
{
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #7d2ae8;
}
.horizontal-line::before
{
  width: calc(46% - 46px);
  right: 54%;
  margin-right: 60px;
} 
.horizontal-line::after
{
  width: calc(46% - 46px);
  left: 54%;
  margin-left: 60px;
}


.logo-caption
{
  font-size: 25px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

/**/
.horizontal-line1
{
  position: relative;
  height: 1px;
  background-color: #DFF2EB;
  margin: 20px 40px;
}
.horizontal-line1::before,
.horizontal-line1::after
{
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #7d2ae8;
}
.horizontal-line1::before
{
  width: calc(51% - 51px);
  right: 49%;
  margin-right: 60px;
} 
.horizontal-line1::after
{
  width: calc(51% - 51px);
  left: 49%;
  margin-left: 60px;
}


.logo-caption1
{
  font-size: 25px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  color: black;
}
/*2*/
.horizontal-line2
{
  position: relative;
  height: 1px;
  background-color: #DFF2EB;
  margin: 20px 40px;
}
.horizontal-line2::before,
.horizontal-line2::after
{
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #7d2ae8;
}
.horizontal-line2::before
{
  width: calc(48% - 48px);
  right: 52%;
  margin-right: 60px;
} 
.horizontal-line2::after
{
  width: calc(48% - 48px);
  left: 52%;
  margin-left: 60px;
}


.logo-caption2
{
  font-size: 25px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  color: black;
}
/*3*/
.horizontal-line3
{
  position: relative;
  height: 1px;
  background-color: #DFF2EB;
  margin: 20px 40px;
}
.horizontal-line3::before,
.horizontal-line3::after
{
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background: #7d2ae8;
}
.horizontal-line3::before
{
  width: calc(46% - 46px);
  right: 54%;
  margin-right: 60px;
} 
.horizontal-line3::after
{
  width: calc(46% - 46px);
  left: 54%;
  margin-left: 60px;
}
.logo-caption3
{
  font-size: 25px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  color: black;
}

/*END HR*/